<!-- Banner -->
<section class="banner {{ .style }}"{{ with .id }} id="{{ . }}"{{ end }}>
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .monogram }}
            <img src="{{.}}" alt="" style="width:18rem; margin:0 auto"/>
        {{end}}
        {{ with .title_h2 }}<h2>{{ . }}</h2>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .button }}<ul class="actions stacked">
            <li><a href="{{ .link }}" class="button primary large wide smooth-scroll">{{ .label }}</a></li>
        </ul>{{ end }}
        <ul class="actions stacked">
            {{ range .nav_links }}
            <li><a href="{{ .link }}" class="button fit-small smooth-scroll">{{ .name }}</a></li>
            {{ end }} 
        </ul>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{.}}" alt="Trevor + Cameron" />
    </div>{{end}}
</section>