<!-- Gallery -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}"{{ end }}>
    <div class="inner">
        <h2>{{ .title }}</h2>
        <p>{{ .content | safeHTML }}</p>
    </div>

    <!-- Gallery -->
    <div class="gallery {{ .style }}">
        {{ range .pictures }}
            {{ partial "picture" . }}
        {{ end }}
    </div>

    {{ with .button }}<ul class="actions stacked to_do_button">
        <li><span class="button primary large wide smooth-scroll">{{ .label }}</span></li>
    </ul>{{ end }}
</section>