{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "banner" site.Data.banner2 }}
	{{ partial "schedule" site.Data.schedule }}
	{{ partial "spotlight" site.Data.travel }}
	{{ partial "spotlight" site.Data.registry }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "gallery" site.Data.things_to_do_title }}
	{{ partial "spotlight" site.Data.things_to_do1 }}
	{{ partial "spotlight" site.Data.things_to_do2 }}
	{{ partial "spotlight" site.Data.things_to_do3 }}
	{{ partial "spotlight" site.Data.things_to_do4 }}
	{{ partial "template/footer" . }}

{{ end }}